.profile-enter {
    max-height: 0;
}

.profile-enter-active {
    max-height: 540px;
    transition: max-height 300ms ease-in-out;
}

.profile-exit {
    max-height: 540px;
}

.profile-exit-active {
    max-height: 0;
    transition: max-height 300ms ease-in-out;
}
